
@{
    ViewBag.Title = "Index";
}

<h2>Movies List</h2>
<p>
    @Html.ActionLink("Add New Movie", "Create")
</p>

<table border="1">
    <tr>
        <th>Movie Name</th>
        <th>Director Name</th>
        <th>Date Of Release</th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.MovieName</td>
            <td>@item.DirectorName</td>
            <td>@item.DateOfRelease.ToShortDateString()</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Mid }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Mid })
            </td>
        </tr>
    }
</table>

<br />

@Html.ActionLink("Movies By Year", "MoviesByYear", new { year = 2023 }) |
@Html.ActionLink("Movies By Director", "MoviesByDirector", new { directorName = "Rajamouli" })
